# FPGA timing and pin-location constraints
#
# GNSS Firehose
# Copyright (c) 2012 Peter Monta <pmonta@gmail.com>

net "clk_adc" tnm_net = "clkADC";
timespec "ts_clkADC" = period "clkADC" 14.5ns;

net "phy_rx_clk" tnm_net = "clkPHY";
timespec "ts_clkPHY" = period "clkPHY" 8ns;

net "clk_tcxo" tnm_net = "clkTCXO";
timespec "ts_clkTCXO" = period "clkTCXO" 25.72ns;

net clk_adc_p loc=H4  | iostandard=lvds_33 | diff_term="true" ;
net clk_adc_n loc=H3  | iostandard=lvds_33 | diff_term="true" ;
net clk_3888_p loc=K3 | iostandard=lvds_33 | diff_term="true" ;
net clk_3888_n loc=J4 | iostandard=lvds_33 | diff_term="true" ;

net ch1_sda loc=C10  | iostandard=lvcmos33 | slew="slow" ;
net ch1_scl loc=D11  | iostandard=lvcmos33 | slew="slow" ;
net ch1_gc1 loc=E11  | iostandard=lvcmos33 | slew="slow" ;
net ch1_cs loc=B10   | iostandard=lvcmos33 | slew="slow" ;
net ch1_sclk loc=A9  | iostandard=lvcmos33 | slew="slow" ;
net ch1_sdin loc=D8  | iostandard=lvcmos33 | slew="slow" ;
net ch1_clk loc=B14  | iostandard=lvcmos33 ;
net ch1_d<0> loc=A10 | iostandard=lvcmos33 ;
net ch1_d<1> loc=C11 | iostandard=lvcmos33 ;
net ch1_d<2> loc=A11 | iostandard=lvcmos33 ;
net ch1_d<3> loc=A12 | iostandard=lvcmos33 ;
net ch1_d<4> loc=B12 | iostandard=lvcmos33 ;
net ch1_d<5> loc=A13 | iostandard=lvcmos33 ;
net ch1_d<6> loc=C13 | iostandard=lvcmos33 ;
net ch1_d<7> loc=A14 | iostandard=lvcmos33 ;

net ch2_sda loc=C6   | iostandard=lvcmos33 | slew="slow" ;
net ch2_scl loc=C7   | iostandard=lvcmos33 | slew="slow" ;
net ch2_gc1 loc=C8   | iostandard=lvcmos33 | slew="slow" ;
net ch2_cs loc=C5    | iostandard=lvcmos33 | slew="slow" ;
net ch2_sclk loc=D5  | iostandard=lvcmos33 | slew="slow" ;
net ch2_sdin loc=D6  | iostandard=lvcmos33 | slew="slow" ;
net ch2_clk loc=C9   | iostandard=lvcmos33 ;
net ch2_d<0> loc=A4  | iostandard=lvcmos33 ;
net ch2_d<1> loc=B5  | iostandard=lvcmos33 ;
net ch2_d<2> loc=A5  | iostandard=lvcmos33 ;
net ch2_d<3> loc=B6  | iostandard=lvcmos33 ;
net ch2_d<4> loc=A6  | iostandard=lvcmos33 ;
net ch2_d<5> loc=A7  | iostandard=lvcmos33 ;
net ch2_d<6> loc=B8  | iostandard=lvcmos33 ;
net ch2_d<7> loc=A8  | iostandard=lvcmos33 ;

net ch3_sda loc=B2   | iostandard=lvcmos33 | slew="slow" ;
net ch3_scl loc=A2   | iostandard=lvcmos33 | slew="slow" ;
net ch3_gc1 loc=B3   | iostandard=lvcmos33 | slew="slow" ;
net ch3_cs loc=A3    | iostandard=lvcmos33 | slew="slow" ;
net ch3_sclk loc=C3  | iostandard=lvcmos33 | slew="slow" ;
net ch3_sdin loc=D3  | iostandard=lvcmos33 | slew="slow" ;
net ch3_clk loc=B1   | iostandard=lvcmos33 ;
net ch3_d<0> loc=G1  | iostandard=lvcmos33 ;
net ch3_d<1> loc=F1  | iostandard=lvcmos33 ;
net ch3_d<2> loc=F2  | iostandard=lvcmos33 ;
net ch3_d<3> loc=E1  | iostandard=lvcmos33 ;
net ch3_d<4> loc=E2  | iostandard=lvcmos33 ;
net ch3_d<5> loc=D1  | iostandard=lvcmos33 ;
net ch3_d<6> loc=C1  | iostandard=lvcmos33 ;
net ch3_d<7> loc=C2  | iostandard=lvcmos33 ;

net ch4_cs loc=G3    | iostandard=lvcmos33 | slew="slow" ;
net ch4_sclk loc=P1  | iostandard=lvcmos33 | slew="slow" ;
net ch4_sdin loc=P2  | iostandard=lvcmos33 | slew="slow" ;
net ch4_clk loc=H2   | iostandard=lvcmos33 ;
net ch4_d<0> loc=N1  | iostandard=lvcmos33 ;
net ch4_d<1> loc=M1  | iostandard=lvcmos33 ;
net ch4_d<2> loc=M2  | iostandard=lvcmos33 ;
net ch4_d<3> loc=L1  | iostandard=lvcmos33 ;
net ch4_d<4> loc=K1  | iostandard=lvcmos33 ;
net ch4_d<5> loc=K2  | iostandard=lvcmos33 ;
net ch4_d<6> loc=J1  | iostandard=lvcmos33 ;
net ch4_d<7> loc=H1  | iostandard=lvcmos33 ;

net phy_tx_clk loc=T8     | iostandard=lvcmos33 ;
net phy_tx_data<0> loc=P11 | iostandard=lvcmos33 ;
net phy_tx_data<1> loc=P9 | iostandard=lvcmos33 ;
net phy_tx_data<2> loc=T9 | iostandard=lvcmos33 ;
net phy_tx_data<3> loc=R9 | iostandard=lvcmos33 ;
net phy_tx_ctl loc=R7     | iostandard=lvcmos33 ;

net phy_rx_clk loc=T7     | iostandard=lvcmos33 ;
net phy_rx_data<0> loc=T5 | iostandard=lvcmos33 ;
net phy_rx_data<1> loc=R5 | iostandard=lvcmos33 ;
net phy_rx_data<2> loc=T6 | iostandard=lvcmos33 ;
net phy_rx_data<3> loc=P6 | iostandard=lvcmos33 ;
net phy_rx_ctl loc=P5     | iostandard=lvcmos33 ;

net phy_mdc loc=T4        | iostandard=lvcmos33 | slew="slow" ;
net phy_mdio loc=N6       | iostandard=lvcmos33 | slew="slow" ;
net phy_mdint loc=N5      | iostandard=lvcmos33 ;
net phy_nreset loc=P4     | iostandard=lvcmos33 | slew="slow" ;

net clock_clk loc=M3      | iostandard=lvcmos33 | slew="slow" ;
net clock_data loc=L3     | iostandard=lvcmos33 | slew="slow" ;
net clock_le loc=L4       | iostandard=lvcmos33 | slew="slow" ;
net clock_readback loc=N4 | iostandard=lvcmos33 ;
net clock_ftest_ld loc=M5 | iostandard=lvcmos33 ;

net uart_rx loc=H15       | iostandard=lvcmos33 ;
net uart_tx loc=H16       | iostandard=lvcmos33 | slew="slow" ;

net led0 loc=F16          | iostandard=lvcmos33 | slew="slow" ;
net led1 loc=G16          | iostandard=lvcmos33 | slew="slow" ;

net spi_cclk  loc=R11 | iostandard=lvcmos33 | slew="slow" ;
net spi_din   loc=P10 | iostandard=lvcmos33 ;
net spi_mosi  loc=T10 | iostandard=lvcmos33 | slew="slow" ;
net spi_cso_b loc=T3  | iostandard=lvcmos33 | slew="slow" ;

net spare1_p loc=P16  | iostandard=lvcmos33 ;
net spare1_n loc=P15  | iostandard=lvcmos33 ;
net spare2_p loc=M15  | iostandard=lvcmos33 ;
net spare2_n loc=M16  | iostandard=lvcmos33 ;
net spare3_p loc=K15  | iostandard=lvcmos33 ;
net spare3_n loc=K16  | iostandard=lvcmos33 ;

net "*streamer_enable*" tig;
net "*packet_count*" tig;
net "*activity_clk_adc*" tig;
net "*activity_phy_tx_clk*" tig;
net "*mac_addr*" tig;
net "*eth_rx_ready*" tig;
net "*eth_rx_read*" tig;
net "*eth_tx_ready*" tig;
